# Node.js dependencies
node_modules/
.npm/

# Build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code settings
.vscode/

# Next.js static export cache
.cache/

# Optional: if using next-video
/videos/

# Optional: if using coverage tools
coverage/
