# Node modules
node_modules/

# Build output
.next/
out/

# Production
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/


# Optional: If using TurboRepo
turbo/

# Optional: TypeScript build output
*.tsbuildinfo
