.hover\:underline:hover {
    text-decoration: underline;
}

@media (min-width: 773px) and (max-width: 922px),
       (min-width: 1027px) and (max-width: 1178px) {
    .footer-container {
        display: flex;
        flex-direction: column; /* Ensure stacking to avoid breaking */
        align-items: center; /* Center-align text */
        text-align: center;
        
    }

    .footer-container h1 {
        font-size: 16px; /* Adjust font size to prevent overflow */
        white-space: nowrap; /* Prevent text wrapping */
        text-align: left;
        
    }

    .footer-container div {
        display: flex;
        flex-wrap: wrap; /* Prevents content from breaking */
        justify-content: center;
    }
}
