/* CSS for cards to stack in columns between 1273px and 1025px */
@media (max-width: 1273px) and (min-width: 1025px) {
    .about-us-section {
        flex-direction: column-reverse; /* Stack items vertically */
    }
  
    .about-us-card {
      width: 100%; /* Full width for each card */
    }
  }

  /* CSS for stacking the elements in a column between 1281px and 1024px */
@media (max-width: 1281px) and (min-width: 1024px) {
    .work-station-section {
      flex-direction: column; /* Stack items vertically */
      gap: 4rem; /* Adjust the gap between items as necessary */
    }
    
    .work-station-image {
      width: 100%; /* Ensure the image takes up full width of the container */
      margin-bottom: 2rem; /* Add space below the image */
    }
    
    .work-station-text {
      width: 100%; /* Make sure the text container takes up full width */
      text-align: center; /* Center the text */
    }
  }
  
  